/*카메라*/
.camera-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    background-color: white;
}

.camera-modal .bg {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.modalBox {
    z-index: 5;
    position: absolute;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 90%;
    padding: 15px;
    border-radius: 8%;
}
.camera-timer-button {
    z-index: 5;
    display: block;
    width: 20%;
}

.snapshot {
    z-index: 5;
    display: block;
    width: 30%;
    margin-bottom: 2%;

}

.modal_close_btn {
     z-index: 5;
    display: block;
    width: 30%;
    margin-bottom: 2%;
}

.hidden {
    display: none;
}


#vid {
    width: 80%;
    height: 55%;
    margin-bottom: 10%;
}

.camera-modal-open-btn {
    margin-top: 5%;
}

.camera-timer-input {
 width: 20%;
}

.camera-timer-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 2%;
}