#main_container {
    min-width: 768px;
    max-width: 1200px;
    margin: 0 auto;
}

#image-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.img-box {
    width: 400px;
    height: 400px;
    background-color: #d0d0d0;
    border-radius: 15px;
    margin: auto;
}

.btn-wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 5%;
}
#time {
    display: flex;
    justify-content: center;
    align-items: center;
}

#progressBar {
    width: 100%;
}

.timer_part {
  font-size: 36px;
  font-weight: bold;
}

.timer_btn {
  width: 50px;
  height: 50px;
  margin-left: 16px;
  border-radius: 50%;
  border: none;
  color: white;
  background: #8208e6;
  cursor: pointer;
}

.timer_btn_start {
  background: #00b84c;
}

.timer_btn_top {
  background: #ff0256;
}

.timer_btn_control {

}

.timer_btn_reset {

}

#alert-container{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}

.alert-wrapper{
    width: 500px;
}

#success-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.yoga-dif-pose{
    margin-top: 20px;
}

.camera-modal {
    z-index: 3;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.camera-modal .bg {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.modalBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
    position: absolute;
    background-color: #fff;
    border-radius: 7%;
    width: 40%;
    height: 70%;
    padding: 10px;
}

.hidden {
    display: none;
}

