#main_container {
    min-width: 768px;
    max-width: 1200px;
    margin: 0 auto;
}

#image-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 10px;
}

.img-box {
    width: 400px;
    height: 400px;
    background-color: #d0d0d0;
    border-radius: 15px;
    margin: auto;
}

.btn-wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 5%;
}
#time {
    display: flex;
    justify-content: center;
    align-items: center;
}

#progressBar {
    width: 100%;
}

.timer_part {
  font-size: 36px;
  font-weight: bold;
}

.timer_btn {
  width: 50px;
  height: 50px;
  margin-left: 16px;
  border-radius: 50%;
  border: none;
  color: white;
  background: #8208e6;
  cursor: pointer;
}

.timer_btn_start {
  background: #00b84c;
}

.timer_btn_top {
  background: #ff0256;
}

.timer_btn_control {

}

.timer_btn_reset {

}

#alert-container{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}

.alert-wrapper{
    width: 500px;
}

#success-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.yoga-dif-pose{
    margin-top: 20px;
}

* {
	box-sizing: border-box;
}

#clock-body {
    border: 2px solid black;
    border-radius: 5px;
    width: 300px;
    height: 300px;
    margin: 0 auto;
}


#clock {
    height:120px;
    font-size: 40px;
    font-family: arial;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
  color: black;
}

h2 {
	text-align:center;

}

#alarm-container {
	text-align:center;
    font-family: Verdana;
    font-size: 0.6em;
    padding: 0.7em;
  color: black;
}

label {
	display:inline-block;
}

.timeofday {
    background-color: #eee;
}

.bigger {
    font-weight:bold;
    font-size: 18px;
}

#sounds {
    text-align: center;
    padding-top: 20px;
}
#buttonHolder{
    font-family: arial;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

#setButton {
    background-color:lightgreen;
    margin-top:10px;
}
#clearButton {
    margin-left: 5px;
    background-color:red;
    margin-top:10px;
}



